.dropdown {
    position: relative;
   display: inline-block;
}

.dropdown-content {
     display: none;
    position: absolute;
    background-color: #f1ebe2;
    min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
 }

 .dropdown-content a {
      color: rgb(16, 37, 83);
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }

  .dropdown-content a:hover {
       background-color: #f1f1f1;
  }

  .dropdown:hover .dropdown-content {
      display: block;
  }

  .NVBlockT{
      width: 80%;            
      background-color: rgb(255, 255, 255);
      border:solid 10px rgb(255, 255, 255);
      border-radius: 100%;
      color: rgb(19, 46, 114);
      font-size: 40px;
      text-align: center;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  .NVBlockt1{
      text-decoration: none;
      color: rgb(255, 255, 255);
    
      font-size: 20px;
      text-align: center;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .NVBlockt2{
      color: aliceblue;  
      font-size: 10px;
      left: 0;
      text-align: left;
      font-family: 'Courier New', Courier, monospace;
      text-decoration: none;
  }

  .navbar {
      position: fixed; /* Makes the navbar stay in place */
      top: 0;
      left: 0; /* Position it on the left */
      height: 100%; /* Full height */
      width: 200px; /* Set the width of the navbar */
      background-color: darkblue; /* Background color */
      color: white; /* Text color */
      padding: 20px 0;
      text-align: center;
      z-index: 1000; /* Ensures the navbar stays on top */
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .LBText{
      color: #b3d0ff;
  }
  .footnote {
      background-color: #ffffff; /* Solid white background */
      padding: 50px;
      color: #100942;
      text-align: center;
      font-family: 'Courier New', Courier, monospace;
      font-size: 11px;
      position:relative;
      bottom: 0;
      height: 400%;
      width: 100%;
      box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
  }

  input{
      background-color: rgb(176, 200, 214);
      text-align: center;
      border-color: rgb(176, 200, 214);
      border-style: dotted;
      color: rgb(93, 120, 165);
      font-family:'Courier New', Courier, monospace;
  }

  hr {
      border: none;
      height: 3px; 
      background-color: #ffffff;
      width: 95%; 
      margin: 20px auto; 
  }

  .Link{
      background-color: rgb(114, 209, 206);
      text-align: center;
      border: solid 50px;
      border-color: rgb(114, 209, 206);
      color: rgb(255, 252, 240);
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      text-shadow: solid 5px;
  }
  .LBBlock{
      background-color: rgb(113, 161, 188);
      text-align: center;
      border-color: rgb(113, 161, 188);
      color: rgb(255, 255, 255);
  }
  .SBlock{
      background-color: rgb(176, 200, 214);
      text-align: center;
  }
  .bluetext{
      color:darkblue;
      text-decoration: none;
  }
  .whitetext{
      color:rgb(255, 255, 255);
      text-decoration: none;
  }

  .font{
      font-family: 'Courier New', Courier, monospace;
  }

  .Bblock{
      background-color: darkblue;
      text-align: center;
      border: solid 10px;
      border-color:darkblue;
      color: white;
      
      ;
  }
  .Wblock{
      background-color: white;
      text-align: left;
      border: solid 10px;
      border-color: white;
      color: rgb(9, 9, 50);
      
  }
  .WblockT{
      background-color: white;
      text-align: center;
      border: solid 10px;
      border-color: white;
      color: rgb(9, 16, 40);
      
  }
  .WBblock{
      background-color: white;
      text-align:justify;
      border:solid 20px;
      border-color: white;
      color: rgb(9, 9, 57);
      
  }

  .bodyA {
      background-image: url("./Images/waves.PNG");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-attachment: fixed;
  }

  --------------------------------------------------------
hr {
    border: none; /* Remove default border */
    height: 3px; /* Set height */
    background-color: #ffffff; /* Set color */
    width: 95%; /* Set width */
    margin: 20px auto; /* Center horizontally */
}

.Title{
    color: darkblue;
    text-align: center;
    font-size: 400%;
}


.LBBlock{
    background-color: rgb(113, 161, 188);
    text-align: center;
    border-color: rgb(113, 161, 188);
    color: rgb(255, 255, 255);
}

.bluetext{
    color:darkblue;
    text-decoration: none;
}

.whitetext{
    color:rgb(255, 255, 255);
}

.whitetext2{

    text-align: center;
    color:rgb(255, 255, 255);
}

.font{
    font-family: 'Courier New', Courier, monospace;
}

.Bblock{
    background-color: darkblue;
    text-align: center;
    border: solid 10px;
    border-color:darkblue;
    color: white;
}

.Wblock{
    background-color: white;
    text-align: left;
    border: solid 10px;
    border-color: white;
    color: rgb(9, 9, 57); 
}

.WblockT{
    background-color: white;
    text-align: center;
    border: solid 10px;
    border-color: white;
    color: rgb(9, 9, 57);
}

.WBblock{
    background-color: white;
    text-align:justify;
    border:solid 20px;
    border-color: white;
    color: rgb(9, 9, 57);
}

.bodyB {
    background-image: url("./Images2/Paper.PNG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;  
    background-attachment: fixed;
}

ol.no-numbers {
    list-style-type: none;
    padding-left: 0;
}	

.pussei {
    background: linear-gradient(to top, rgb(0, 0, 0), rgb(1, 23, 223));
}